h1 {
    color:black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color:black;
    font-size: 14px;
}
body {
    margin: 0;
    background-color: black;
}
header {
    background-color: #008370;
    padding: 15px 20px 30px 20px;
}
.logo {
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 15px;
}
nav ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
nav {
    margin-top: 20px;
}
nav li {
    display: inline;
    margin-right: 8px;

}
nav li a {
    color: #D8D8D8;
    background-color: #00594C;
    padding: 6px 10px 6px 10px;
    border-radius: 8px;
    text-decoration: none;
}
nav li a.active {
    color: white;
    background-color: black;
}
nav li a:hover {
    color: white;
    background-color: black;
}
.site-title {
    color: white;
    font-size: 24px;
    margin: 0;
    display: inline;
}
.header-stuff {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content {
    background-color: #d3d3d3;
    padding: 15px 20px 20px 20px;
}
footer {
    background-color: #008370;
    opacity: 0.75;
    padding: 6px 20px 6px 20px;
}
footer p {
    color: white;
    font-size: 11px;
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
}
footer p a {
    color: #00ddc7;
    
    
}